html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Styling of body(whole window*/
body {
  background-color: whitesmoke;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*Styling of text under header*/
p{
  color: #FFC300; 
}
/*Styling of header*/

h1 {
  color: #FCD878;
}
a, a:link, a:visited {
  color: black;
}
a:hover {
  color: black;
}

#last>table {
  border: 1px solid gray;
}
#last td {
  width: 5rem;
}
#last.frozen {
  background-color: lightblue;
}